.header {
    background-image: url(../../images/header.png);
    width: 100%;
    height: 960px;
    color: white;
}

@media screen and (max-width: 1919px) {
    .header {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 769px) {
    .header {
        background-image: url(../../images/header2.png);
        height: 1024px;
    }
}

@media screen and (max-width: 376px) {
    .header {
        height: 596px;
    }
}

@media screen and (max-width: 321px) {
    .header {
        height: 509px;
    }
}