.block3 {
    color: #191C1F;
    max-width: 1215px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 448px;
}

@media screen and (max-width: 1214px) {
    .block3 {
        margin-top: 56px;
        justify-content: center;
        margin-left: 21px;
        height: min-content;
    }
}

@media screen and (max-width: 767px) {
    .block3 {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
    }
}