.header__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 92px;
}

@media screen and (max-width: 769px) {
    .header__subtitle {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 376px) {
    .header__subtitle {
        margin-bottom: 26px;
    }
}