.footer {
    margin-top: 80px;
    padding: 28px 0;
    border-top: 1px solid #ECEFF2;
    text-align: center;
}

@media screen and (max-width: 1214px) {
    .footer {
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 321px) {
    .footer {
        margin-top: 27px;
    }
    
}